/* You can add global styles to this file, and also import other style files */
:root {

    /* Colors */
    --main-color: #2596be;
    --accent-color: #f76707;
    --white-color: #fff;
    --black-color: #000000;
    --dark-grey-color: #333;

    /* Fonts */
    --font-min: 12px; /* Minimum size */
    --font-max: 32px; /* Maximum size */
    --font-big: 24px; /* Big size */
    --font-preferred: 16px; /* Preferred size */
    --font-weight-min: 200; /* Minimum weight */
    --font-weight-max: 600; /* Maximum weight */
    --font-weight-preferred: 400; /* Preferred weight */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(var(--font-min), var(--font-preferred), var(--font-max));
    font-weight: clamp(var(--font-weight-min), var(--font-weight-preferred), var(--font-weight-max));
    padding-top: 100px ;
}
