/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #2596be;
    --accent-color: #f76707;
    --white-color: #fff;
    --black-color: #000000;
    --dark-grey-color: #333;
}