.details {
    &-container {
        display: flex;
        flex-direction: column;
        &-main {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 42px;
        }
    }
    &-session-container {
        padding: 20px;
        border: solid 1px var(--main-color);
    }
    &-shopping-cart-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.back-link {
    display: flex;
    justify-content: flex-end;
    a {
        text-decoration: none;
        color: var(--main-color);
        font-style: var(--font-min);
    }
}