<div class="card">
    <h2 class="card-title">
        PABLO ALBORÁN
    </h2>
    <div class="card-subtitle">
        Terral (2014)
    </div>
    <img class="card-image" src="bookingApp\src\assets\img\sample-image.jpg" alt="booking_image">
    <div class="card-dates">
        23/09/2015 - 11/11/2015
    </div>
    <p class="card-info">
        <strong>Pablo Alborán</strong> vuelve a los escenarios para presentar Terral (2014), un nuevo trabajo discográfico donde el artista de Málaga, 
        mantiene las constaantes creativas que le han convertido en favorito del público: delicadeza, romanticismo y prcioismo melódico.
    </p>
    <button class="app-button">
        Comprar
    </button>
</div>